:root {
  --borda: 3px red solid;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a, footer {
  text-decoration: none;
  color: black;
}

a:hover{
  color: black;
}

.nav {
  background-color: black;
  position: fixed;
  width: 100%;
  padding: 20px;
  padding-left: 100px;
  display: flex;
  gap: 50px;
  justify-content: start;
}

.nav #logo {
  color: black;
  background-color: black;
  font-family: fantasy;
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 25px;
}

.nav a {
  color: rgb(192, 196, 201);
}

.nav a:hover {
  color: darkorange;
}

.menuHamburguer{
  color: aliceblue;
  transform: rotate(90deg);
  transition: 0.2s linear;
  font-size: 25px;
  display: none;
  position: absolute;
  left: 90%;
  top: 30%;
}


.mobileStyleMenu{
  height: 100vh;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0
  transition: opacity 2s;
}

#sobreMim {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6%;
  height: 100vh;
  background-color: rgb(224, 162, 55);
  color: rgb(0, 0, 0);
}

#sobreMim .perfil {
  width: 300px;
  height: 350px;
  margin-top: 4%;
  border: none;
  box-shadow: 1px 3px 3px rgb(107, 27, 16, .2);
  border-radius: 65%;
  animation-name: bordaFoto;
  animation-iteration-count: infinite;
  animation-duration: 7s;

}

@keyframes bordaFoto {
  from {
    box-shadow: 4px 4px 4px rgb(0, 0, 0);
  }

  to {
    box-shadow: 6px 4px 4px rgb(184, 101, 101);
  }
}

#sobreMim #name{
  font-size: 20px;
}
#sobreMim .bio {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  border-left: 4px rgb(11, 2, 2) solid;
}

#sobreMim .bio h4{
  font-weight: 800;
}

#sobreMim .bio p{
  font-weight: 700;
}

#sobreMim .container {
  display: flex;
  gap: 10px;
}

#sobreMim .stacks {
  animation-name: moveStacksRight;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

@keyframes moveStacksRight {
  from {
    margin-left: 0px;
  }

  to {
    margin-left: 210px;
  }
}

@keyframes moveStacksLeft {
  from {
    margin-left: 210px;
  }

  to {
    margin-left: 0px;
  }
}

.projects{
  background-color: rgb(233, 255, 248);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.projects .title{
  color: black;
  margin: 30px;
  font-size: 25px;
}

.projects .tituloDeProjeto{
  font-size: 25px;
}

.projects .row{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  border-bottom: 1px gray solid;
  padding-bottom: 40px;
  gap: 60px;
}

.projects .column{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 30%;
  font-size: 25px;
  gap: 45px;
}
.projects img{
  width: 350px;
  height: 300px;
}

.projects .github{
  background-color: rgb(30, 39, 218);
  color: aliceblue;
  padding: 10px;
  width: 180px;
  border-radius: 25px;
  text-align: center;
  font-size: 20px;
}

.projects .github:hover{
  background-color: black;
  color: aliceblue;
}

#contato {
  display: flex;
  justify-content: space-around;
  height: 200px;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}

#contato .conectar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

#contato .links {
  display: flex;
  gap: 15px;
  justify-content: center;
}

#contato .links svg {
  width: 30px;
  height: 30px;
}
#contato a{
  color:aliceblue;
}
#contato .bi-linkedin:hover {
  color: rgb(28, 96, 243);
}

#contato .bi-instagram:hover {
  color: rgb(193, 0, 255);
}

#contato .bi-github:hover {
  color: rgb(216, 241, 51);
}
