:root {
  --borda: 3px red solid;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a, footer {
  text-decoration: none;
  color: black;
}

a:hover{
  color: black;
}

.nav {
  background-color: black;
  position: fixed;
  width: 100%;
  padding: 20px;
  padding-left: 100px;
  display: flex;
  gap: 50px;
  justify-content: start;
}

.nav #logo {
  color: black;
  background-color: black;
  font-family: fantasy;
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: larger;
}

.nav a {
  color: rgb(192, 196, 201);
}

.nav a:hover {
  color: darkorange;
}

#sobreMim {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6%;
  height: 100vh;
  background-color: rgb(5, 6, 44);
  color: rgb(236, 239, 241);
}

#sobreMim .perfil {
  width: 300px;
  height: 350px;
  margin-top: 4%;
  border: none;
  box-shadow: 1px 3px 3px rgb(107, 27, 16, .2);
  border-radius: 65%;
  animation-name: bordaFoto;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  animation-duration: 15s;

}

@keyframes bordaFoto {
  from {
    box-shadow: 4px 4px 4px rgb(65, 13, 43);
  }

  to {
    box-shadow: 6px 4px 4px rgb(223, 222, 231);
  }
}

#sobreMim .bio {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  border-left: 4px rgb(219, 213, 213) solid;
}

#sobreMim .bio h4{
  font-weight: 800;
}

#sobreMim .bio p{
  font-weight: 700;
}

#sobreMim .container {
  display: flex;
  gap: 10px;
}

#sobreMim .stacks {
  animation-name: moveStacksRight;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

@keyframes moveStacksRight {
  from {
    margin-left: 0px;
  }

  to {
    margin-left: 210px;
  }
}

@keyframes moveStacksLeft {
  from {
    margin-left: 210px;
  }

  to {
    margin-left: 0px;
  }
}

.projects{
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.projects .title{
  color: black;
  margin: 30px;
  font-size: 25px;
}

.projects .row{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  border-bottom: 1px gray solid;
  padding-bottom: 40px;
  gap: 60px;
}

.projects .column{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 30%;
  font-size: 25px;
  gap: 45px;
}
.projects img{
  background: url('img/project.png');
  width: 350px;
  height: 300px;
}

.projects .github{
  background-color: aliceblue;
  padding: 10px;
  width: 180px;
  border-radius: 25px;
  text-align: center;
  font-size: 20px;
}

.projects .github:hover{
  background-color: black;
  color: aliceblue;
}

#contato {
  display: flex;
  justify-content: space-around;
  height: 200px;
  background-color: rgb(5, 6, 44);
  color: aliceblue;
}

#contato .conectar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

#contato .links {
  display: flex;
  gap: 15px;
  justify-content: center;
}

#contato .links svg {
  width: 30px;
  height: 30px;
}
#contato a{
  color:aliceblue;
}
#contato .bi-linkedin:hover {
  color: rgb(28, 96, 243);
}

#contato .bi-instagram:hover {
  color: rgb(193, 0, 255);
}

#contato .bi-github:hover {
  color: rgb(216, 241, 51);
}
