:root{
  --borda: 3px red solid;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.nav{
  background-color: black;
  padding-left: 120px;
  position: fixed;
  width: 100%;
}

.nav #logo{
  color: black;
  background-color: black;
  font-family: fantasy;
  color: darkorange;
  font-weight: 300;
  font-size: larger;
}

.nav a{
  color: rgb(192, 196, 201);
}

.nav a:hover{
  color: darkorange;
}

#sobreMim{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6%;
  height: 75vh;
  background-color: rgb(199, 123, 52);
  color: aliceblue;
}



#sobreMim .perfil{
  width: 100px;
  margin-top: 4%;
  border: none;
  border-radius: 50px;
}

#sobreMim .bio{
  padding: 15px;
  border-left: 4px black solid;
}

#projetos{
  height: auto;
  padding: 20px;
  background-color: rgb(47, 51, 50);
}

#projetos .row{
  margin-bottom: 30px;
  padding-top: 20px;
  border-top: 2px red solid;
}

#projetos h3{
  margin-top: 20px;
  margin-bottom: 40px;
  color: aliceblue;
}

#projetos .tituloDeProjeto{
  color: darkorange;
}

#projetos .descricao{
  color: antiquewhite;
}

#projetos .github{
  color: rgb(204, 248, 7);
}

#projetos .github:hover{
  color: rgb(235, 225, 217);
}

#contato{
  display: flex;
  justify-content: space-around;
  padding: 15px;
  height: auto;
  background-color: rgb(199, 123, 52);
}

#contato .conectar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  
}

#contato .links{
  display: flex;
  gap: 15px;
  justify-content: center;
  
}

#contato .links svg{
  width: 30px;
  height: 30px;
}

#contato .bi-linkedin:hover{
  color: rgb(4, 0, 255);
}

#contato .bi-instagram:hover{
  color: rgb(193, 0, 255);
}

#contato .bi-github:hover{
  color: rgb(255, 255, 255);
}

#contato .formulario{
  padding: 10px;
   
}

#contato .inputForm{
  width: 400px;
  padding: 8px;
  margin-bottom: 8px;
  border: none;
  border-radius: 4px;
}

